html {
    color: white;
    background-color: black;
    font-family: 'Space Grotesk', sans-serif;
}
.bg {
    background-image: url("../img/cecilia.jpg");
    background-repeat: no-repeat;
    background-position-x: 80%;
    width: 100%;
}
header, main {
    margin: 3rem 7rem;
}

.sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;

}
.logo{
    display: flex;
    font-size: 2.2rem;
}
.sociais-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    line-height: 4.5rem;
}
.name{
    border-bottom: 2px solid rgb(68, 158, 121);
}
.name:hover{
    color: rgb(68, 158, 121);
}

.description_n1 {
    width: 30rem;
    margin-bottom: 2.5rem;
    font-size: 18px;
}
.btn {
    background-color: black;
    border: none;
    border-bottom: 1px solid rgb(68, 158, 121);
    color: white;
    display: block;
    font-weight: bold;
    font-size: 17px;
    padding: 0px;
}
.btn:hover {
    color: rgb(68, 158, 121);
}
footer {
    background-color: rgba(34, 33, 33, 0.884);

}

@media screen and (max-width: 1124px) {

    .bg {
        background-position-x: 55vw;
        width: 100%;
        
    }

    header, main {
        margin: 3rem 1rem;
    }

    .logo { 
        padding-bottom: 1rem;
        font-size: 30px;

    }

    .title {
        font-size: 40ṕx;
    }
    .description_n1 {
        width: auto;
    }

}
@media screen and (max-width: 1024px) {
    .bg {
        background-position-x: center;
        background-position-y: 9rem;
    
    }

    header {
        margin: 2rem 3rem;

    }
    .sociais {
        flex-direction: column;
        align-items: center;
    }

    .main-page {
        margin-top: 38rem;
       

    }
    .title {
        text-align: center;
    }
    .description_n1 {
        font-size: 19px;
        text-align: center;
    }
    .btn__main {
        font-size: 18px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 280px) {
    html {
        width: 90%;
    }
    .title {
        font-size: 3rem;
    }
}
