html {
    color: white;
    background-color: black;
    font-family: 'Space Grotesk', sans-serif;
}
.title {
    font-size: 2.9rem;
    font-weight: bold;
    margin-left: 4.5rem;
    margin-bottom: 1.5rem;
}

.description_n1 {
    width: 30rem;
    margin-bottom: 1.5rem;
    margin-left: 4.5rem;
    
}
.logo{
    display: flex;
    width: 10rem;
    margin: 1rem 0 2rem 4rem;
}
.sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 4rem;
}
.sociais-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name{
    border-bottom: 2px solid rgb(68, 158, 121);
}

.btn {
    background-color: black;
    border-bottom: 1px solid rgb(68, 158, 121);
    margin-left: 4.5rem;
    color: white;
    display: block;
    font-weight: bold;
}
footer {
    background-color: rgba(34, 33, 33, 0.884);
}