.contact {
    margin: 3rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}
.contact__description {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    margin: 0;
    width: 330px;
}
.form{
    display: flex;
    flex-direction: column;
}
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
input, textarea {
    background-color: rgba(34, 33, 33, 0.884);
    border: none;
    border-bottom: 1px solid rgb(205, 216, 211);
    color: white;
    height: 2rem;
    margin-top: 1px;
    width: 350px;
}
.input-message {
    background-color: rgba(34, 33, 33, 0.884);
    padding-bottom: 4rem;

}
.contact__btn {
    background-color: rgba(34, 33, 33, 0.884);
    border-bottom: 2px solid rgb(68, 158, 121);
    margin-left: 60%;
    margin-top: 1rem;
    width: 9rem;
}
@media screen and (max-width: 1124px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }
    
    .contact__title {
        text-align: center;
    }
    .input {
        margin-top: 1.5rem;
        width: 330px;
    }
    .contact__btn {
        margin-left: 56%;
        width: 9rem;
    }
}
