.contact {
    margin: 3rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
}
.contact__title {


}
.contact__description {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 17px;
}
.form{
    display: flex;
    flex-direction: column;
}
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
input {
    background-color: rgba(34, 33, 33, 0.884);
    border-right: none;
    color: white;
    height: 2rem;
    width: 350px;
}
.input-message {
    padding-bottom: 4rem;

}
.contact__btn {
    background-color: rgba(34, 33, 33, 0.884);
    border-bottom: 2px solid rgb(68, 158, 121);
    margin-left: 65%;
    margin-top: 1rem;
    width: 7.5rem;
}
@media screen and (max-width: 1124px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }
    
    .contact__title {
        text-align: center;
    }
    .input {
        margin-top: 1.5rem;
        width: 425px;
    }
    .contact__btn {
        margin-left: 72%;
        width: 7.5rem;
    }


}
