.experience {
    display: flex;
    border-top: 2px solid rgba(72, 75, 74, 0.966);
    margin-top: 160px;
}
.skill-item {
    padding: 2rem 16rem 1rem 0rem;
    font-size: 59px;
}
.skill__time {
    font-size: 1.5rem;
    padding: 2rem 2rem 1rem 0rem;
}
@media screen and (max-width: 1220px) {
    .experience {
        display: inline-block;
    }
   
}


