.experience {
    display: flex;
    border-top: 2px solid rgba(72, 75, 74, 0.966);
    margin-top: 4rem;
}
.table-technologies {
    margin-left: 2rem;
}
.tab {
    font-size: 3rem;
    padding: 2rem 16rem 1rem 0rem;
}
