.experience {
    display: flex;
    border-top: 2px solid rgba(72, 75, 74, 0.966);
    margin-top: 13rem;

}
.skill-item {


    font-size: 59px;
    margin-top: 2rem;
    width: 100%;
}

.skill__time {

    font-size: 1.2rem;
    padding-top: 1rem;
}

@media screen and (max-width: 1124px) {
    .experience {
      width: auto;
      text-align: center;
    }
   
}



@media screen and (max-width: 1024px) {
    .experience {
      display: inline-block;
      width: 100%;
      margin-top: 6rem;

    }

    .skill-item {
        padding: 1rem rem;
        font-size: 59px;

    }
    dl:last-child {
        border-bottom: 2px solid rgba(72, 75, 74, 0.966);
        padding-bottom: 4rem;
    }
   
    

}
@media screen and (max-width: 280px) {
    .skill-item {
        font-size: 40px;
    }
}