.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(114, 116, 114, 0.966);
    margin: 3rem 7rem 0 7rem;

}
.logo-footer {
    display: flex;
    margin-top: 1.5rem;
    font-size: 2.2rem;

}
@media screen and (max-width: 1024px) {
        .footer{
            align-items: center;
            flex-direction: column;
            margin: 1rem 3rem 0 1rem;
        }
}