.projects {
    margin-top: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.project__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.project__link {
    text-decoration: none;
}
project__img{
    width: 550px;
}
.project__name {
    color: aliceblue;
    font-size: 22px;
    line-height: 1.7;
    text-decoration: none;
    text-transform: none;
}
.project__technologies {
   color: blanchedalmond;
   font-size: 18px;
}