.projects_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.projects {
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: space-between;
}
.project__img {
    width: 420px;
}

.project__link {
    text-decoration: none;
    text-transform: none;
    color: white;

}
.project__name:hover {
    color: rgb(68, 158, 121);
    text-decoration: underline;
}
.project__name {
    text-transform: uppercase;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 18px;
}
 .project__technologies {
    text-decoration: none;
    text-transform: none;
    color: white;
    margin-top: 0.5rem;
}
.project__btn {
    display: none;
}
@media screen and (min-width: 1228px) {
    .project__name, .project__technologies {
        text-align: left;
    }
    
}

@media screen and (max-width: 824px) {

    .projects_items {
       flex-direction: row;
        justify-content: center;
        text-align: left;
    }
    .project__img {
        width: 100%;
    }
    .project__name {
        margin-top: 1rem;
    }
    .project__technologies {
        margin-top: 1rem;
    }
    .project__btn {
        display: inline-block;
        margin: 1rem 0 0 0 ;
        text-decoration: none;
        width: 125px;
    }
    .project__btn-code {
        width: 97px;
        margin-left: 1rem;
    }

}
@media screen and (max-width: 280px) {
    .projects {
        display: block;
    }
    .btn__projects {
        margin: 0 auto;
    }
    .projects_items {
        margin-top: 10%;
    }
}
