.teste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.projects {
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: space-between;
}
.project__img {
    width: 500px;

}


@media screen and (max-width: 924px) {

    .teste {
       flex-direction: row;
        justify-content: center;
        
    }
    .project__img {
        width: 400px;
    }

}
