.experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table-technologies{
    align-items: center;
    align-content: space-between;
    justify-items: end;
    justify-content: space-between;
}
.tab{

    margin-left: 4px;
}
.table-time {
    display: none;

}